// Dark Mode Variables
$bg-dark: #121212; // Background
$icons-dark: #e0e0e0; // Icons
$button-bg-dark: #bb86fc; // Button Backgrounds
$text-dark: #ffffff; // Text
$text-highlight-dark: #b3a0ff; // Text Highlights
$button-active-dark: #9a62d5; // Button Active
$button-hover-dark: #d98fff; // Button Hover
$footer-dark: #1e1e1e; // Footer Background
$link-internal-dark: #bb86fc; // Internal Links
$link-external-dark: #d98fff; // External Links
$primary-dark: #bb86fc; // Primary Colour
$secondary-dark: #03dac6; // Secondary Colour
$header-bg-dark: #1f1f1f; // Header Background
$header-text-dark: #e0e0e0; // Header Text Color
$header-link-dark: #bb86fc; // Header Link Color
$header-link-hover-dark: #d98fff; // Header Link Hover Color
$header-text-hover-dark: #ffffff; // Header Text Hover Color

// Light Mode Variables
$bg-light: #ffffff; // Background
$icons-light: #333333; // Icons
$button-bg-light: #b580ff; // Button Backgrounds
$text-light: #333333; // Text
$text-highlight-light: #6200ee; // Text Highlights
$button-active-light: #9a62d5; // Button Active (Darker shade)
$button-hover-light: #d98fff; // Button Hover (Lighter shade)
$footer-light: #f1f1f1; // Footer Background
$link-internal-light: #6200ee; // Internal Links
$link-external-light: #3700b3; // External Links
$primary-light: #6200ee; // Primary Colour
$secondary-light: #03dac6; // Secondary Colour
$header-bg-light: #e0e0e0; // Header Background
$header-text-light: #333333; // Header Text Color
$header-link-light: #6200ee; // Header Link Color
$header-link-hover-light: #3700b3; // Header Link Hover Color
$header-text-hover-light: #000000; // Header Text Hover Color
